*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    height: 100vh;
    width: 100%;
    background-color: rgb(148, 127, 127);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
 
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(8, 7, 7, 0.815);
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    outline: none;
}
.calculator form input{
    border: 0;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form input.equal{
    width: 145px;
 color:  #33ffd8;
}
form input.operato{
    color:  #33ffd8;
}